# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Data files (si trop gros)
data/raw/*.csv
*.csv

# Visualizations (on peut les regénérer)
# Décommente si tu veux les exclure
# visualizations/*.png

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
